.contact-container {
    width: 100%;
    will-change: contents;
    height: 92%;
    top: 80px;
    position: absolute;
    opacity: 1;
    background-color: #D6D6D6;
    z-index: 1;
    transform-style: preserve-3d;
}

.text-zone-contact {
    position: absolute;
    left: 10%;
    top: 7%;
    transform: translateY(-20%);
    margin: 0;
    animation: fadeIn 1s .5s backwards;
}

.title-contact {
    color: #2C2B30;
}

.description-contact{
    margin-top: 20px;
}

.contact-content{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    animation: fadeIn 1s .5s backwards;
    animation-delay: 1s;
}

.email-section {
    width: 100%;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.phone-section {
    width: 100%;
    background-color: #bdbdbd;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.linkedin-section {
    width: 100%;
    background-color: #9e9e9e;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.github-section {
    width: 100%;
    background-color: #7d7d7d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-logo-black {
    margin-top: 1.5rem;
    text-decoration: none;
    color: #2C2B30;
    font-size: 80px;
}

.contact-logo-white {
    margin-top: 1.5rem;
    text-decoration: none;
    color: #D6D6D6;
    font-size: 80px;
}

.contact-text-black {
    margin-top: 2rem;
    color: #2C2B30;
    letter-spacing: 3px;
    font-size: 1.5vw;
    margin-bottom: 1.5rem;
}

.contact-text-white {
    margin-top: 2rem;
    color: #D6D6D6;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 1.5vw;
    margin-bottom: 1.5rem;
}