.about-container {
    width: 100vw;
    will-change: contents;
    min-height: 100vh;
    top: 80px;
    position: absolute;
    opacity: 1;
    background-color: #D6D6D6;
    z-index: 1;
    transform-style: preserve-3d;
    display: grid;
    grid-template-columns: repeat(1, auto-fit);
    grid-template-rows: repeat(4, auto-fit);
}

.text-zone-about {
    padding-top: 5rem;
    padding-left: 10%;
    transform: translateY(-20%);
    animation: fadeIn 1s .5s backwards;
    animation: fadeIn 1s .5s backwards;
    animation-delay: 1s;
}

.txt-and-pic {
    padding-left: 10%;
    animation: fadeIn 1s .5s backwards;
    animation-delay: 1s;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
}

.about-text {
    color: #2C2B30;
    max-width: 80vw;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 27px;
    padding-bottom: 3rem;
}

.about-pic {
    width: 45%;
    justify-self: center;
    align-self: top;
}

h4 {
    font-family: 'Exo 2';
    font-size: 40px;
    font-weight: 400;
}

.skills{
    padding-left: 10%;
    padding-top: 2rem;
    max-width: 85vw;
    animation: fadeIn 1s .5s backwards;
    animation-delay: 1s;
    padding-bottom: 2rem;
}

.skills-content{
    display: grid;
    padding-top: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    text-decoration: none;
    list-style: none;
}

.skill{
    padding: 5% 5% 5% 5%;
    font-size: 1rem;
    height: 100%;
    background-color: #4f4F51;
    color: #D6D6D6;
    letter-spacing: 2px;
    border: 1px solid #2C2B30;
    border-radius: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
        background: #D6D6D6;
        color: #4f4F51;
    }
}

.work-exp{
    padding-left: 10%;
    padding-top: 1rem;
}